<template>
  <div id="app">
    <Menu/>

    <main class="container">
      <div
      :class="{'erro': erro}"
      class="mensagem"
      v-if="$store.state.erro !== ''">

        <p v-if="!Array.isArray(mensagem)">{{mensagem}}</p>

        <ul v-else>
          <li v-for="alerta in mensagem" :key="alerta"><p>{{alerta}}</p></li>
        </ul>

      </div>

      <router-view />
    </main>

    <rodape />
  </div>
</template>

<script>
import Menu from './components/compartilhado/Menu';
import Rodape from './components/compartilhado/Rodape';

export default {
  name: 'app',

  computed: {
    erro(){ return this.$store.state.erro },

    mensagem(){ return this.$store.state.mensagem }

  },

  components: {
    Menu,
    Rodape
  }
}
</script>

<style>

/* Carregando fontes de títulos */

@font-face{
  font-family: "Titillium";
  src: url('../assets/fonts/Titillium/titilliumweb-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

@font-face{
  font-family: "Titillium";
  src: url('../assets/fonts/Titillium/titilliumweb-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

@font-face{
  font-family: "Titillium";
  src: url('../assets/fonts/Titillium/titilliumweb-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

@font-face{
  font-family: "Titillium";
  src: url('../assets/fonts/Titillium/titilliumweb-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

/* Carregando fonte de corpo */
@font-face{
  font-family: "NotoSerif";
  src: url('../assets/fonts/Noto/notoserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

@font-face{
  font-family: "NotoSerif";
  src: url('../assets/fonts/Noto/notoserif-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

@font-face{
  font-family: 'NotoSerif';
  src: url('../assets/fonts/Noto/notoserif-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: none;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

@font-face{
  font-family: 'NotoSerif';
  src: url('../assets/fonts/Noto/notoserif-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  /* unicode-range: U+00A0-00FF; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "NotoSerif", serif;
}

html{
  font-size: 16px;
  font-family: "NotoSerif", serif;
}

body{
  background-color: #F9FBFD;
}

p{
  line-height: 1.8;
  margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.3;
  margin: 20px 0;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.2rem;
}

a{
  color: #5042F9;
  text-decoration: none; 
}

a:hover{
  text-decoration: underline;
}

ul{
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main.container{
  margin: 64px auto 76px;
  padding: 20px;
}

/* Definindo estilo de titulos e subtitulos */
.titulo, label{
  font-family: "Titillium", sans-serif;
  color: #5042F9;
  /* font-weight: bold; */
  word-wrap: break-word;
}

.titulo::after{
  content: "";
  display: block;
  bottom: 0;
  background-color: #5042F9;
  width: 30px;
  height: 2px;
}

/* Definindo estilo de labels e inputs de forms */

input[type="text"], input[type="password"], input[type="search"], textarea{
  border: 1px solid #ccc;
  outline-color: #5042f9;
  margin: 10px 0 20px;
  padding: 5px 10px;
}

button {
  border: 2px solid #5042f9;
  padding: 5px 10px;
  background-color: transparent;
  color: #5042f9;
  transition: 0.5s ease;
  margin: 0 auto;
  outline: unset;
  border-radius: 5px;
}

button:hover {
  background-color: #5042f9;
  color: white;
}

/* Estilo das mensagens */
.mensagem{
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: #D4EDDA;
  color: #155724;
}

.mensagem.erro{
  background-color: #F8D7DA;
  color: #721C24;
}

</style>
