<template>
  <section style="position: relative;">
    <a href="#" v-if="$route.params.id_nota" id="excluir" @click.prevent="excluir">Excluir Nota</a>
    <h1 class="titulo" v-if="$route.path === '/notas/novaNota'">Nova Nota</h1>
    <h1 class="titulo" style="margin-top: 60px;" v-else>Alterar Nota</h1>
    <form>
      <label for="titulo">Informe um título para a nota</label>
      <input type="text" name="titulo" id="titulo" required v-model="$v.titulo.$model">
      
      <label for="conteudo">Qual o conteúdo da nota?</label>
      <textarea name="conteudo" id="conteudo" required v-model="$v.conteudo.$model"></textarea>
      
      <button type="submit" @click.prevent="salvar">Salvar</button>
      <button id="cancelar" @click.prevent="sair">Cancelar</button>
    </form>
  </section>
</template>

<script>
import {required} from 'vuelidate/lib/validators';
import {mapActions} from 'vuex';

export default {
  name: 'NovaNota',

  data(){
    return {
      margem: '',
      titulo: '',
      conteudo: '',

      mensagens: {
        titulo: "O título não pode estar vazio!",
        conteudo: "O conteúdo não pode estar vazio!"
      }
    }
  },

  computed: {
    notas(){
      return this.$store.state.notas;
    }

  },

  validations:{
    titulo: {required},
    conteudo: {required},
  },

  methods: {
    ...mapActions(['incluirNota', 'atualizarNota', 'excluirNota', 'mensagem']),

    async excluir(){
      if(confirm('Tem certeza que deseja excluir esta nota?')){
        
        //implementar exclusão
        const resultado = await this.excluirNota(`/${this.$route.params.id_nota}`);

        await this.mensagem({erro: !resultado.sucesso, mensagem: resultado.mensagem ? resultado.mensagem : 'Nota Excluída!', tempo: 3000});

        this.$router.push('/notas');
      }
    },

    sair(){
      if(confirm('Tem certeza que quer cancelar?'))
        this.$router.push('/notas');
    },

    async salvar(){
      let alertas = [];

      if(this.$v.$invalid){
        Object.keys(this.mensagens).forEach(campo => {
          if(this.$v[campo].$invalid)
            alertas.push(this.mensagens[campo])
        });

        this.mensagem({erro: true, mensagem: alertas});

        window.scrollTo(0,0);
      } else {

        if(!this.$v.$anyDirty)
          alert('Nada a alterar!');
        else {
          //Enviar pro servidor

          let resultado;

          if(this.$route.path === '/notas/novaNota')
            resultado = await this.incluirNota({titulo: this.$data.titulo, conteudo: this.$data.conteudo});
          else
            resultado = await this.atualizarNota({id: `/${this.$route.params.id_nota}`,  titulo: this.$data.titulo, conteudo: this.$data.conteudo});

          if(!resultado.sucesso)
            this.$router.push('/login')
          else
            this.$router.push('/notas');

          this.mensagem({erro: !resultado.sucesso, mensagem: resultado.mensagem ? resultado.mensagem : 'Operação realizada com sucesso!', tempo: 3000});

          window.scrollTo(0,0);
          // this.$v.$reset();
        }
      }
    },
  },

  async created(){
    if(this.$route.path != '/notas/novaNota'){
      const nota = await this.$store.state.notas;

      this.titulo = nota.titulo;
      this.conteudo = nota.conteudo;
    }

    document.querySelector('main').setAttribute('style', 'margin-top: 64px;');
  }
}

</script>

<style scoped>

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
  margin: 0 auto;
  flex-grow: 0;
  margin-bottom: 60px;
}

textarea {
  resize: none;
  height: 10em;
}

label,
input,
textarea {
  width: 100%;
}

button {
  display: block;
}

#cancelar {
  border-color: #a94442;
  color: #a94442;
}

#cancelar:hover,
#excluir:hover {
  background-color: #a94442;
  color: #f2dede;
}

#excluir {
  text-decoration: none;
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  padding: 5px 10px;
  color: #a94442;
  transition: 0.5s ease;
  border-radius: 5px;
}
</style>
