<template>
  <section style="position: relative;">
    <div id="novaNotaWrapper">
      <a href="#" @click.prevent="novaNota" class="novaNota">+</a>
    </div>

    <h1 class="titulo">Olá {{usuario}}!</h1>
    <p v-if="!Array.isArray(notas)">{{notas}}</p>

    <div v-else>
      <p>Estas são as suas notas:</p>
      <div id="formWrapper">
        <form @submit.prevent>
          <input id="pesquisa" type="search" placeholder="Pesquise por alguma nota!" v-model="filtro" @input="log">
        </form>
      </div>

      <ul class="notas">
        <li v-for="nota in busca" :key="nota._id">
          <section class="nota" @click="alterar(nota)" :data-posicao="notas.indexOf(nota)">
            <h2 class="titulo">{{nota.titulo}}</h2>
            <p>{{nota.conteudo}}</p>

            <a href="#" @click.prevent title="exlcuir nota"></a>
          </section>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
//Helper para importar dados do state do Vuex
import { mapState } from "vuex";

export default {
  name: "Notas",

  data() {
    return {
      filtro: ""
    };
  },

  computed: {
    ...mapState(["usuario", "notas"]),

    busca() {
      if (!this.filtro) return this.notas;

      let valor = this.filtro;

      return this.notas.filter( elemento => elemento.titulo.match(new RegExp(`${valor}`, 'ig')) != null || elemento.conteudo.match(new RegExp(`${valor}`, 'igm')) != null);
    }
  },

  methods: {
    log(evento){
      let padrao = /${evento.target.value}/ig;
    },

    novaNota() {
      this.$router.push("/notas/novaNota");
    },

    alterar(nota) {

      //Passar id da nota para a rota!
      this.$router.nota = nota;
      this.$router.push(`/notas/${nota._id}`);
    }
  },

  beforeCreate(){
    document.querySelector('main').setAttribute('style', 'margin-top: 132px;');
  }
};
</script>

<style scoped>

#novaNotaWrapper{
  position: fixed;
  width: 100%;
  max-width: 1200px;
  bottom: 160px;
  overflow: visible;
  z-index: 1;
}

.novaNota {
  text-decoration: none;
  transition: 0.5s ease;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  line-height: 1;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  position: absolute;
  right: 40px;
  background-color: #5042f9;
  color: white;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.5);
}

.novaNota::before{
  display: block;
  content: '';
  height: 1px;
  width: 100%;;
  padding-top: 6px;
}

.novaNota:hover {
  color: white;
  background-color: #5042f9;
}

#formWrapper{
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 64px;
  width: calc(100% - 40px);
  max-width: 1200px;
  padding: 10px 0;
  background-color: #F9FBFD;
  z-index: 3;
  text-align: center;
}

form{
  position: relative;
  width: 1000px;
  max-width: 500px;
}

form::before{
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  transition: .5s ease;
}

form::after{
  content: '';
  height: 1px;
  width: 0;
  display: block;
  bottom: 0;
  background-color: #5042f9;
  transition: .5s ease;
}

form:focus-within::after{
  width: 100%;
}

#pesquisa{
  background-color: unset;
  border: unset;
  outline: unset;
  margin-bottom: 5px;
  text-align: center;
  transition: .5s ease;
  width: 100%;
}

#pesquisa::placeholder{
  color: rgba(80,66,249,.7);
  text-align: center;
}

.notas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 15px;
  justify-content: space-around;
}

.nota .titulo {
  text-align: center;
  background-color: #5042f9;
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  margin-bottom: 0;
  max-height: calc((1em * 1.3) + 10px);
  overflow: hidden;
  text-overflow: ellipsis;
}


.nota .titulo:after{
  display: none;
}

.nota p {
  padding: 20px 20px 10px;
  max-height: calc(3em + 30px + (1em * 1.8));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

.nota {
  transition: 0.5s ease;
  border-radius: 5px;
}

.nota:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: scale(1.05);
}
</style>


