<template>
  <header>
    <nav class="container">
      <ul>
        <li><router-link id="home" to="/" exact>Home</router-link></li>
        <div>
          <li v-if="!$store.state.usuario"><router-link to="/registro" exact>Registrar</router-link></li>  <!-- Substituir pelo link de notas quando logado! -->
          <li v-else><router-link to="/notas" exact>Notas</router-link></li>  <!-- Substituir pelo link de notas quando logado! -->

          <li v-if="!$store.state.usuario"><router-link to="/login" exact>Entrar</router-link></li>        <!-- Substituir pelo link de logout quando logado! -->
          <li v-else @click.prevent="$store.dispatch('sair'); $router.push('/')"><router-link to="#" exact>Sair</router-link></li>        <!-- Substituir pelo link de logout quando logado! -->
          <li style="margin-right: 10px;"><router-link id="sobre" to="/sobre" exact>i</router-link></li>
        </div>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'Menu'
}
</script>


<style scoped>

  header{
    /*Cor CTA: #1293FF*/

    /*Cor principal*/
    background-color: #5042F9;
    position: fixed;
    z-index: 15;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  }

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px;;
  }

  ul div{
    display: flex;
  }

  li{
    /* margin: 0 10px; */
    position: relative;
  }

  li a {
    font-family: Titillium;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 10px;
    color: white; /*FA985B*/
    position: relative;
    transition: .5s ease;
    text-decoration: none;
  }

  li a#sobre{
    text-transform: none;
  }

  li a:hover, a.router-link-exact-active{
    color: #5042F9;
  }

  li a::after{
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    top: 25%;
    height: 50%;
    left: 100%;
    border-radius: 5px;
    z-index: -1;
    transition: .5s ease;
  }

  li a:hover::after, a.router-link-active::after{
    background-color: #F9FBFD;
    left: 0;
  }

  ul li:nth-of-type(1){
    margin-right: 20px;
  }

  ul li:nth-of-type(2)::before{
    display: block;
    position: absolute;
    content: "";
    background-color: #ccc;
    top: 40%;
    height: 25%;
    left: -10px;
    width: 1px;
    /* margin: 0 5px; */
  }
  

</style>

