<template>
  <footer>
    <p><em><strong>Simple Notes</strong></em> - Desenvolvido por <strong><span class="autor">Thiago Almeida</span></strong></p>
  </footer>
</template>

<style scoped>
  footer{
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer p{
    margin: 0;
  }
</style>
