<template>
  <div>
    <h1 class="titulo">Boas-Vindas!</h1>
    <p>Sim, este é mais um WebApp que gerencia anotações simples, como todos os outros!</p>

    <!-- Implementar um rápido guia interativo aqui! -->
    <section id="tutorial">
      <h2 class="titulo">Utilização</h2>
      <p>Para começar, é necessário se <a @click.prevent="$router.push('/registro')" href="/registro">resgistrar</a>.</p>
      <p>Em seguida, basta <a @click.prevent="$router.push('/login')" href="/login">entrar</a> com seus dados e:</p>

      <div id="opcoes">
        <div id="lista">
          <ul>
            <li @click="trocarAtual($event, 'criar')">Criar nota</li>
            <li @click="trocarAtual($event, 'alterar')">Alterar nota</li>
            <li @click="trocarAtual($event, 'ver')">Ver notas</li>
            <li @click="trocarAtual($event, 'excluir')">Excluir nota</li>
          </ul>
        </div>

        <video controls autoplay loop type="video/mp4" id="imagens">
          
          <source type="video/mp4">

        </video>
      </div>
    </section>

    <h2 class="titulo">Saiba mais!</h2>
    <p>Saiba mais <a @click.prevent="$router.push('/sobre')" href="/sobre">sobre</a> o Simple Notes!</p>
  </div>
</template>

<script>

export default {
  name: 'Home',

  data: function(){
    return {
      imagem: ['', '', '', ''],
      atual: '',
      reqVideos: ''
    }
  },

  mounted(){
    this.trocarAtual({target: document.querySelector('#lista ul li:nth-of-type(1)')});
    document.querySelector('main').setAttribute('style', 'margin-top: 64px;');
    this.carregar
  },

  methods:{
    carregar: function(video = 'criar'){
      let videoTag = document.querySelector('video');

      this.imagem[0] = require('../../assets/videos/'+video+'-800.mp4');
      this.imagem[1] = require('../../assets/videos/'+video+'-1600.mp4');

      this.imagem[2] = require('../../assets/videos/'+video+'-500.mp4');
      this.imagem[3] = require('../../assets/videos/'+video+'-1000.mp4');


      [...(videoTag.children)].forEach((source) => {
        if(window.innerWidth >= 800){
          source.src = window.devicePixelRatio > 1 ? this.imagem[1] : this.imagem[0];
        } else {
          source.src = window.devicePixelRatio > 1 ? this.imagem[3] : this.imagem[2];
        }
      });

      videoTag.load();
    },

    trocarAtual(evento, nome){
      if(this.atual)
        this.atual.classList.toggle('vrau');

      this.atual = evento.target;
      this.atual.classList.toggle('vrau');

      this.carregar(nome);
    }
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}

#opcoes{
  display: grid;
  grid-template-columns: minmax(145px, 1fr) minmax(0,800px);
  align-items: center;
}

#opcoes #lista{
  position: relative;
  padding-bottom: 15px;
}

#opcoes ul{
  display: inline-block;
  position: relative;
}

#opcoes ul::before{
  position: absolute;
  top: calc(50% - 10px);
  content: "";
  right: -50px;
  border: 10px solid transparent;
  border-left: 10px solid #5042F9;
}

#opcoes ul::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  background-color: #5042F9;
  right: -30px;
  top: 0;
}

li {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px 0;
  color: #5042F9;
  position: relative;
  text-align: center;
}

li:hover, .vrau{
  color: white;
}

li::after{
  position: absolute;
  content: "";
  height: 50%;
  width: 100%;
  top: 10%;
  right: 100%;
  transition: .5s ease;
  z-index: -1;
  padding: 5px 10px;
  border-radius: 5px;
}

li:hover::after, .vrau::after{
  background-color: #5042F9;
  right: -10px;
}

#opcoes img{
  width: 100%;
}

#imagens{
  width: 100%;
  justify-self: end;
}

h1, h1+p{
  text-align: center;
}

h1::after{
  display: none;
}

.full{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vmin;
  height: 100vmin;
}

@media screen and (max-width: 469px){
  #opcoes{
    grid-template-columns: unset;
    grid-template-rows: 145px 1fr;
  }

  #opcoes ul{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);

    justify-content: space-between;
    flex-wrap: wrap;
  }

  #opcoes ul::after{
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
  }

  #opcoes ul::before{
    right: calc(50% - 10px);
    top: calc(100% + 2px);
    border-left: 10px solid transparent;
    border-top: 10px solid #5042F9;
  }
}
</style>
