<template>
  <form>
    <label for="usuario">Usuário</label>
    <input
    type="text"
    id="usuario"
    name="usuario"
    tabindex="1"
    v-model="usuario"
    required>
    
    <label for="senha">Senha</label>
    <input
    type="password"
    name="senha"
    id="senha"
    tabindex="2"
    v-model="senha"
    required>
    
    <button @click.prevent="logar" type="submit">entrar</button>
  </form>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import {usuariosAPI, notasAPI} from '../services';

export default {
  name: "Login",
  data() {
    return {
      usuario: "",
      senha: ""
    };
  },

  validations: {
    usuario: { required },
    senha: { required }
  },

  methods: {
    async logar() {
      if(!this.$v.$invalid){
        const resposta = await this.$store.dispatch('logar', {...this.$data});

        if(!resposta.sucesso){
          this.$store.dispatch('mensagem', {erro: true, mensagem: resposta.mensagem, tempo: 3000});

        } else {
          this.$router.push('/notas');
        }
        
      } else {
        this.$store.dispatch('mensagem', {erro: true, mensagem: "Todos os campos devem ser preenchidos!", tempo: 3000});
      }
    }
  }
}
</script>

<style scoped>
form {
  max-width: fit-content;
  margin: 0 auto;
}

form > * {
  display: block;
}

input:nth-of-type(1) {
  margin-bottom: 20px;
}

input{
  width: 100%;
}

button {
  border: 2px solid #5042f9;
  color: #5042f9;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0 auto;
  transition: 0.5s ease;
  outline: unset;
}

button:hover {
  color: white;
  background-color: #5042f9;
}
</style>