<template>
  <form>
    <label for="usuario">Usuário</label>
    <input type="text" name="usuario" id="usuario" tabindex="1" v-model="$v.usuario.$model">
    
    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" tabindex="2" v-model="$v.senha.$model">
    
    <label for="confirmacao">Confirme a senha</label>
    <input
      type="password"
      name="confirmacao"
      id="confirmacao"
      tabindex="3"
      v-model="$v.confirmacao.$model"
    >
    
    <button type="submit" @click.prevent="registrar">registrar</button>
  </form>
</template>

<script>
import {required, sameAs, helpers} from "vuelidate/lib/validators";
import {usuariosAPI} from '../services'

const padraoUsuario = helpers.regex("padraoUsuario", /^\w{3,32}$/);
const padraoSenha = helpers.regex("padraoSenha", /^\S{4,}$/);

export default {
  name: "Registro",

  data() {
    return {
      usuario: "",
      senha: "",
      confirmacao: "",
      mensagens: {
        usuario:
          'O usuário deve conter entre 3 e 32 caracteres, sendo eles apenas números, letras e "_"',
        senha: "A senha deve conter no mínimo 4 caracteres de qualquer tipo",
        confirmacao: "As senhas não estão iguais"
      }
    };
  },

  validations: {
    usuario: { required, padraoUsuario },
    senha: { required, padraoSenha },
    confirmacao: { required, sameAs: sameAs("senha") }
  },

  methods: {
    async registrar() {
      const alertas = ["nenhum campo deve conter espaço"];

      if (this.$v.$invalid) {
        Object.keys(this.mensagens).forEach(campo => {
          if (this.$v[campo].$invalid) alertas.push(this.mensagens[campo]);
        });

        this.$store.dispatch("mensagem", {erro: true, mensagem: alertas});

        window.scrollTo(0,0);
      } else {
        const resposta = await usuariosAPI.adicionarUsuario({usuario: this.usuario, senha: this.senha});

        if(resposta.sucesso)
          this.$store.dispatch('mensagem', {erro: false, mensagem: 'Usuário incluído com sucesso!', tempo: 3000});

        else
          this.$store.dispatch('mensagem', {erro: true, mensagem: resposta.mensagem, tempo: 5000});
      }
    }
  }
}
</script>

<style scoped>
form {
  max-width: fit-content;
  margin: 0 auto;
}

form > * {
  display: block;
}

input {
  margin-bottom: 20px;
}
</style>