<template>
  <article>
    <h1 class="titulo">Obrigado pela atenção!</h1>

    <p>Olá! Meu nome é Thiago Almeida, autor do Simple Notes.</p>

    <p>Embora seja “simple” a quem utiliza e vê, o Simple Notes me deu um certo trabalho. Primeiramente, porque ele é uma Single Page Application (SPA) full-stack, sendo que as duas pontas foram feitas por mim mesmo.</p>

    <p>Ao desenvolver o Simple Notes, eu tinha apenas conhecimentos de CSS e HTML e bem pouco de javascript. Interessado em aprender sobre desenvolvimento full-stack (front-end + back-end) e sem uma boa ideia de aplicação para criar, decidi fazer o clichê: um aplicativo de notas (como todo desenvolvedor - risos).</p>

    <p>Para o back-end, decidi criá-lo através da já consagrada MEAN stack, com a exceção de que, para o front-end, no lugar do Angular, escolhi o framework javascript de front-end reativo Vue.js.</p>

    <h2 class="titulo">As métricas</h2>

    <p>Para compensar a demasiada simplicidade do Simple Notes, decidi criá-lo de maneira ótima, ou seja, pesquisei o que faz um website carregar rápido e apliquei à SPA. O aprendizado foi incrível:</p>

    <ol>
      <li>Aprendi sobre o Critical Resource Path (CRP) e os recursos que atrasam a renderização de um site (render-blocking);</li>
      <li>Vi a importância de otimizar tamanho, qualidade e, principalmente, a entrega de imagens e vídeos de acordo com o dispositivo e Device Pixel Ratio (DPR);</li>
      <li>Percebi que é possível otimizar fontes personalizadas;</li>
    </ol>

    <p>O que me levou a querer aprender tudo isso foi o fato de ficar intrigado com o rápido e espantoso carregamento de alguns sites mesmo com inúmeros recursos sendo carregados. Sites que são carregados em menos de um segundo!</p>

    <h2 class="titulo">Destrinchando o bicho!</h2> 
    <h3 class="titulo">Back-end</h3>

    <p>Comecei fazendo o back-end (nada mais lógico, uma vez que este é o coração de toda a aplicação). Nesta parte não passei por muitas dificuldades a não ser longos períodos de pesquisa sobre:</p>

    <ul>
      <li>Cross-Origin Resource Sharing (CORS);</li>
      <li>Criação, envio, recuperação e validação de tokens;</li>
      <li>Cabeçalhos HTTP;</li>
      <li>Como utilizar o MongoDB e o mongoose;</li>
      <li>Como funciona o express e alguns de seus handlers (express.static, por exemplo);</li>
    </ul>

    <h3 class="titulo">Front-end</h3>

    <p>Aqui foi onde eu tive a maior dificuldade. Cada passo me requereu inúmeras horas de pesquisa, leitura e, até mesmo, tentativa e erro.</p>

    <p>Primeiramente, tudo ocorreu bem. Durante todo o desenvolvimento desta parte, utilizei o vue-cli para agilizar a prototipação do projeto. O problema é que quem é marinheiro de primeira viagem (quem não conhece task-runners e não faz ideia do que é um module-bundler), quando utiliza o vue-cli e seus presets, não imagina que, por trás dos panos, ele utiliza inúmeras aplicações third-party para automatizar vários processos para o desenvolvedor (como otimizações na build, conversão de javascript para ES5 para maior compatibilidade, etc).</p>

    <p>Minha maior dificuldade neste ponto foi com carregamento de assets, entre eles carregamento de imagens e vídeos e carregamento de fontes.</p>

    <p>Na primeira, demorei a entender que o webpack (module-bundler que o vue-cli utiliza) trata tudo como módulo. Então percebi que praticamente tudo poderia ser “requerido” (alusão a require(...)), inclusive imagens. Porém, tranquilizado com o transpiling do Babel, acreditava que era possível fazer requires através de template-strings. Até eu descobrir que o webpack não lida com require de template-strings (e que eu teria que utilizar require.context para isso, ou simples concatenações) eu perdi alguns dias - e até paciência!</p>

    <p>Ao carregar as fontes, minha intenção era fazer o preload das mesmas. Então, tive que ver como o vue lidava com isso. Descobri os loaders do webpack e seu vasto mundo (plugins, entry, output, etc). Descobri, também, que o vue utiliza o chain webpack para realizar alterações na configuração do webpack. [já viu a saga, né?];</p>

    <p>Consegui fazer o preload das fontes, mas ainda tinha um grande problema: o número de requisições. Nesta busca por otimização, descobri que é preferível ter arquivos ligeiramente maiores se isso resultar em menos requisições, principalmente para mobile. Como vivemos em tempos de mobile-first…</p>

    <p>Seguindo a história das fontes, descobri que era possível utilizar data-uris com o url-loader do webpack. Porém, descobri um problema que nunca tinha percebido: fontes podem ser mais pesadas do que imagens e vídeos. Foi aí que o font-squirrel me salvou. Havia duas famílias de fontes .ttf que, juntas, somavam pouco mais de 1.5MB. Através da otimização com o font-squirrel, todas as fontes, em .woff, somam exatos 232KB. Este último passo tornou possível importar as fontes por meio de data-uris e colocá-las numa mesma requisição!</p>

    <p>Além de tudo isso, utilizo também o conceito de lazy-loading tanto para os assets da aplicação (vídeos e fontes) quanto para os componentes do vue. Isso faz com que só sejam carregadas coisas que são relevantes para a requisição feita pelo usuário.</p>

    <h2 class="titulo">O que não foi feito</h2>
    <p>Não pensei numa política de cache para os assets. Além disso, quando o usuário faz o login, eu não limito o número de notas que são baixadas. Isso faz com que, caso o usuário possua muitas notas, o carregamento fique exponencialmente lento.</p>

    <p>Pretendo melhorar tudo isso, claro!</p>

    <h2 class="titulo">O que foi usado</h2>

    <p>Back-end:</p>
    <ol>
      <li>Node.js;</li>
      <li>Express.js</li>
      <li>Compression (módulo de compressão de responses);</li>
      <li>Body-parser (módulo que facilita o manuseio do corpo da requisição);</li>
      <li>Cookie-parser (módulo que facilita o manuseio dos cookies);</li>
      <li>MongoDB (banco de dados não relacional);</li>
      <li>Mongoose (driver que facilita o relacionamento com o MongoDB);</li>
      <li>Joi (módulo de validação back-end);</li>
      <li>Jsonwebtoken (módulo que cria e valida tokens);</li>
    </ol>

    <p>Front-end:</p>
    <ol>
      <li>Vue.js;</li>
      <li>Vue-Router (plugin para o Vue.js que lida com as rotas no front da aplicação);</li>
      <li>Vuex (plugin Vue.js que concentra o estado da aplicação e compartilha com todos os componentes - facilita demais a vida!);</li>
      <li>Vuelidate (plugin Vue.js para validaçãode campos);</li>
      <li>Axios (biblioteca javascript para requisições assíncronas - AJAX);</li>
    </ol>

    <p>Caso queira entrar em contato, meu e-mail é: <a href="mailto:tcarvalhodealmeida@gmail.com?subject=Simple_Notes">tcarvalhodealmeida@gmail.com</a>.</p>

  </article>
</template>

<style scoped>
  h3.titulo::after{
    display: none;
  }

  ul{
    margin: 10px 0 20px 40px;
    list-style: disc;
  }

  ol {
    margin: 10px 0 20px 40px;
    list-style: decimal;
  }

  li{
    margin: 10px 0;
  }

  p{
    margin-bottom: 20px;
  }
</style>

